.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 20px;
  gap: 5%;
  margin-left: 10%;
}
.container > div {
  padding: 1%;
  background-color: rgb(235, 228, 228);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  line-height: 10px;
  margin-bottom: 15px;
}
.container > div > img {
  width: 300px;
  height: 300px;
}
.heading {
  display: grid;
  justify-content: center;
  text-align: center;
  color: #f05136;
}
.heading > h1 {
  border: 3px solid #f05136;
  padding: 5px 35px;
  border-radius: 5px;
}
.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  width: 100%;
  gap: 5%;
}
.text {
  color: #f05136;
}
.text span {
  color: black;
}

.logout {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: -80px;
  margin-bottom: 50px;
  margin-right: 50px;
}
.logout button {
  background-color: #f05136;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.logout button:hover {
  background-color: #fc2b06;
}

/* Form CSS */
.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f05136;
  font-size: 16px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input[type="submit"]:hover {
  background-color: #ff2600;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: rgb(235, 228, 228);
  padding: 5px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}
